<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Puzzle Index</h1>

    <% for(let item of puzzles){ %>
        <ul><a href="/puzzles/<%=item._id%>">Title: <%= item.title %></a></ul>
        <hr>
    <% } %>
</body>
</html>