<% layout('layouts/boilerplate') %>

    <h1>Puzzles List</h1>
    <a href="/puzzles/new">Create New Puzzle</a>
    <hr>
    <div class="d-flex flex-wrap gap-3">
    <% for(let item of puzzles) {%>
        <div class="card" style="width: 19.5rem;">
            <img src="<%= item.imageUrl %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= item.title %>
                </h5>
                <p class="card-text">Piece: <%=item.piece%>
                </p>
                <a href="/puzzles/<%=item._id%>" class="btn btn-primary">View Detail</a>
            </div>
        </div>
    <% } %>
    </div>