<% layout('layouts/boilerplate') %>

<div class="card w-75" style="margin: 0 auto;">
    <div class="card-body">
    <h1>Create New Puzzle</h1>

    <form action="/puzzles" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="piece" class="form-label">Piece</label>
            <input type="number" name="piece" id="piece" class="form-control">
        </div>
        <div class="mb-3">
            <label for="size" class="form-label">Size / Dimensions </label>
            <input type="text" name="size" id="size" class="form-control">
        </div>
        <div class="mb-3">
            <label for="imageUrl" class="form-label">Image URL </label>
            <input type="text" name="imageUrl" id="imageUrl" class="form-control">
        </div>
        <div class="mb-3">
            <label for="manufacturer" class="form-label">Manufacturer</label>
            <input type="text" name="manufacturer" id="manufacturer" class="form-control">
        </div>
        <div class="mb-3">
            <label for="keyword" class="form-label">Puzzle Keywords(Separate by Space)</label>
            <input type="text" name="keyword" id="keyword" class="form-control">
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Submit</button>
        </div>
        <div class="mb-3 text-center">
            <a href="/puzzles">Back to Home Page</a>
        </div>
    </form>
</div>
</div>