<% layout('layouts/boilerplate') %>

    <div class="card" style="margin: 0 auto; width: 35rem; border: none;">
        <div class="card-body">
            <h1 class="text-center mb-5">Welcome Back</h1>

            <form action="/login" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control bg-light" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Password</label>
                    <input type="password" class="form-control bg-light" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div class="mb-3 text-center mt-5">
                    Don't have an account? <a href="/register">Register</a>
                </div>
                <div class="mb-3 text-center mt-3">
                    <a href="/puzzles">Back to Home Page</a>
                </div>
            </form>
        </div>
    </div>